body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#main-content {
    --picker-width: calc(17 * var(--text-unit));
    
    display: flex;
    flex-direction: row;
    row-gap: var(--text-unit);

    width: 100%;
    height: calc( 100vh - var(--header-height) - var(--footer-height) );

    overflow: hidden;
}

/* album picker styling */

#album-picker {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    row-gap: calc(0.25 * var(--text-unit));

    width: var(--picker-width);
    height: 100%;

    padding: var(--text-unit);
    
    background-color: #111e;

    overflow-x: hidden;
    overflow-y: auto;
}

.album-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    column-gap: calc(0.5 * var(--text-unit));
    padding: calc(0.5 * var(--text-unit));

    width: 100%;
    height: calc(6 * var(--text-unit));

    border-radius: 20px;

    cursor: pointer;
    transition: 0.2s background-color;
}

.album-icon:hover {  background-color: #f8f8f866;  }
.album-icon:active {  background-color: #f8f8f833;  }

.album-icon:hover > h1,
.album-icon:active > h1 {
    overflow-x: visible;
    text-overflow: unset;

    /* Hide scrollbar for IE, Edge and Firefox */
    /* thanks https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.album-icon > h1::-webkit-scrollbar {  display: none;  }

.album-icon > h1 {
    display: block;
    margin-right: auto;
    width: calc(100% - 5.125 * var(--text-unit));

    color: #f8f8f8;
    font-family: "Poppins", sans-serif;
    font-size: var(--text-unit);
    font-weight: 400;
    
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;

    scroll-behavior: smooth;
}

.album-icon > .album-icon-img {
    /* padding: calc(0.5 * var(--text-unit)); */

    min-width: calc(5.125 * var(--text-unit));
    max-width: calc(5.125 * var(--text-unit));
    min-height: calc(5.125 * var(--text-unit));
    max-height: calc(5.125 * var(--text-unit));
    object-fit: cover;

    background-color: #f8f8f8;
    border-radius: 16px;
    border: 3px solid #aaa;
    box-shadow:  1px  1px 6px #0006 inset,
                -1px -1px 6px #0006 inset;

    overflow: hidden;
}

.default-icon {
    filter: grayscale(1);
}

/* album content styling */

#album-content {
    --size: 160px;
    --padding: 20px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: var(--padding);

    width: calc(100% - var(--picker-width));
    padding: var(--padding);

    height: 100%;
    background-color: #6668;
    overflow-x: hidden;
    overflow-y: auto;

    /* Hide scrollbar for IE, Edge and Firefox */
    /* thanks https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#album-content::-webkit-scrollbar {  display: none;  }

#album-content > img {
    width: var(--size);
    min-width: var(--size);
    height: var(--size);
    min-height: var(--size);

    object-fit: cover;
    object-position: center;
    
    border-radius: 20px;

    cursor: pointer;
    transition: 0.25s box-shadow;
}

#album-content > img:hover {
    box-shadow:  3px  3px 10px #f8f8f877,
                -3px -3px 10px #f8f8f877,
                -3px  3px 10px #f8f8f877,
                 3px -3px 10px #f8f8f877;
}