body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

/* clock content */

#clock-content {
    display: flex;
    flex-direction: row;

    padding: var(--text-unit) calc(1.5 * var(--text-unit));

    width: 100%;
    height: calc( 100vh - var(--header-height) - var(--footer-height) );

    background-color: #f8f8f844;
}

#clock-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: calc(1.5 * var(--text-unit));

    width: calc(6 * var(--text-unit));
    height: 100%;
}

.mode-icon {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    
    width: 100%;
    height: auto;
    aspect-ratio: 1;

    cursor: pointer;
}

.mode-icon > img {
    max-width: 80%;
    max-height: 80%;

    object-fit: contain;
    transition: 0.3s filter, 0.3s transform;
}

#live-clock-icon > img { /* improve hitbox :) */
    clip-path: circle(50%);
}

#digital-icon > img { /* improve hitbox :) */
    clip-path: polygon(0% 18%, 100% 18%, 100% 82%, 0% 82%);
}

.icon-selector {
    display: none;

    width: 10%;
    height: 80%;

    background-color: #f8f8f8;
    border-radius: 50%/6.25%;

    box-shadow: 0 0 calc(0.5 * var(--text-unit)) #555;

    animation: 0.3s ease-out iconSelectorGrowVert;
}

@keyframes iconSelectorGrowVert {
    from {  transform: scaleY(0);  }
    to {  transform: scaleY(1);  }
}
@keyframes iconSelectorGrowHoriz {
    from {  transform: scaleX(0);  }
    to {  transform: scaleX(1);  }
}

.mode-icon:hover > img {
    filter: brightness(105%);
    transform: scale(1.025) rotate(7deg);
}

.mode-icon:active > img {
    filter: brightness(98%);
    transform: scale(0.97) rotate(-6deg);
}

#clock-body {
    display: flex;
    flex: 1; /* fill remaining space */
}

@media screen and (orientation: portrait) {
    #clock-content {
        flex-direction: column-reverse;
    }

    #clock-menu {
        flex-direction: row;
        align-items: flex-end;
        width: 100% !important;
        height: calc(5 * var(--text-unit)) !important;
    }

    .mode-icon {
        width: auto;
        height: 100%;

        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .icon-selector {
        width: 80%;
        height: 10%;

        border-radius: 6.25%/50%;
        animation: 0.3s ease-out iconSelectorGrowHoriz;
    }
}

/************* individual modes *************/

.clock-mode {
    --border-thickness: 8px;

    display: none;
    width: 100%;
    height: 100%;
}

/******* live clock mode *******/

#live-content {
    display: none;
    justify-content: center;
    align-items: center;
}

#live-clock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: var(--size);
    height: var(--size);
    
    border-radius: 50%;
    
    background-color: #f8f8f8;
    border: var(--border-thickness) solid #111;
}

#live-hour-needle {
    --length: calc(0.3 * var(--size));
    --thickness: calc(0.1 * var(--length));
    background-color: #111;
}

#live-min-needle {
    --length: calc(0.35 * var(--size));
    --thickness: calc(0.065 * var(--length));
    background-color: #202020;
}

#live-sec-needle {
    --length: calc(0.4 * var(--size));
    --thickness: calc(0.022 * var(--length));
    background-color: #b00;
}

.live-needle {
    width: var(--thickness);
    height: var(--length);

    transform-origin: 50% 100%;
    translate: 0 calc(-0.5 * var(--length));
    transition: 1s linear transform;
}

#live-center-dot {
    width: calc(0.05 * var(--size));
    height: calc(0.05 * var(--size));
    background-color: #bbb;

    border-radius: 50%;
}

.live-min-marker {
    --length: calc(0.02125 * var(--size));
    --thickness: calc(0.2 * var(--length));

    width: var(--thickness);
    height: var(--length);

    background-color: #111;
}

.live-hour-marker {
    --length: calc(0.06 * var(--size));
    --thickness: calc(0.2 * var(--length));

    width: var(--thickness);
    height: var(--length);

    background-color: #b00;
}

#live-clock-container > * {
    position: absolute;
}

@media screen and (orientation: portrait) {
    #live-clock-container {
        --size: min(calc(24 * var(--text-unit)), 80vw, 50vh);
    }
}

@media screen and (orientation: landscape) {
    #live-clock-container {
        --size: min(calc(36 * var(--text-unit)), 80vw, 65vh);
    }
    
    #live-content {
        /* center visually on horizontal axis, 100% of #clock-menu width */
        margin-right: calc(6 * var(--text-unit));
    }
}

/******* digital clock mode *******/

#digital-content {
    display: none;
    justify-content: center;
    align-items: center;
}

#digital-clock-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 2.5%;

    --ratio: 0.43637;
    --height: calc(var(--ratio) * var(--length));
    
    width: var(--length);
    height: var(--height);

    background-color: #444;
    border: var(--border-thickness) solid #111;
    border-radius: calc(0.09 * var(--length));
    box-shadow: 0 0 calc(5*var(--border-thickness)) #000 inset;

    color: #e29c34;
    font-family: "Digital-7";
}

#digital-main {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
    
    font-size: calc(0.3 * var(--height));
}

#digital-clock-container h1 {
    filter: drop-shadow(0 0 calc(1.125 * var(--border-thickness)) #c68626);
}

#digital-side {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: calc(0.15 * var(--height));
}

@media screen and (orientation: portrait) {
    #digital-clock-container {
        --length: min(90vw, calc(30vh/var(--ratio)));
    }
}

@media screen and (orientation: landscape) {
    #digital-clock-container {
        --length: min(60vw, calc(60vh/var(--ratio)));
        /* center visually on horizontal axis, 100% of #clock-menu width */
        margin-right: calc(6 * var(--text-unit));
    }
}