@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap&family=Ubuntu&display=swap');

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    --header-height: calc(3.875 * var(--text-unit));
    --footer-height: calc(2.6 * var(--text-unit));
}

/* header content */

#header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 calc(1.5 * var(--text-unit));

    height: var(--header-height);

    background-color: #4f59cc;
}

#header-content > img {
    width: auto;
    height: 88%;
    aspect-ratio: 1;

    object-fit: cover;

    cursor: pointer;
    transition: 0.2s filter;
}

#header-content > #my-account-img {
    clip-path: circle(50%); /* fix circular hitbox (also clips image, this isn't an issue though) */
}

#header-content > img:hover {
    filter: brightness(115%);
}

/* apps selection content */

@media screen and (orientation: portrait) {
    #apps-content {
        --item-size: 90px;
    }
}

@media screen and (orientation: landscape) {
    #apps-content {
        --item-size: 120px;
    }
}

#apps-content {
    padding: var(--item-size) calc(0.5*var(--item-size));

    width: 100%;
    min-height: calc( 100vh - var(--header-height) - var(--footer-height) );
}

#apps-content > #apps-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10vw;

    width: 100%;
}

.app-container {
    --border-size: 4px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: calc(2*var(--border-size));
}

.app-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    max-width: calc(var(--item-size) - 2*var(--border-size));
    height: calc(var(--item-size) - 2*var(--border-size));
    aspect-ratio: 1;
    
    background-color: #fff3;
    border-radius: 25%;
    border: var(--border-size) solid #111;
    box-shadow: 0 1.5px 14px #000c;
    
    transition: 0.2s transform, 0.2s filter;
    
    cursor: pointer;
}

.app-badge:hover {
    transform: scale(1.05) translateY( calc(-0.025 * calc(var(--item-size) - 2*var(--border-size))) );
    filter: brightness(115%);
}

.app-badge:active {
    transform: scale(0.98) translateY( calc(0.01 * calc(var(--item-size) - 2*var(--border-size))) );
    filter: brightness(90%);
}

.app-icon {
    width: 80%;
    object-fit: contain;
    pointer-events: none;
}

.app-title {
    color: #111;
    font-size: var(--text-unit);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
}

/* footer content */

#footer-content {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;

    padding: 0 calc(0.4 * var(--text-unit));
    height: var(--footer-height);

    background-color: #fff5;
}

#footer-content > p {
    display: inline;
    color: #111;
    font-family: "Poppins", sans-serif;
    font-size: calc(0.88 * var(--text-unit));
    font-weight: 500;
}

/* override default toolbox styling for anim-controls */
#anim-controls {
    height: 25px;
    top: -35px;
    right: 15px;
}