body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    background-image: linear-gradient(225deg, #535edbcc, #0000 80%),
        linear-gradient(135deg, #ff0c, #0000 80%),
        linear-gradient(330deg, #eb1d1dcc, #0000 80%);
}

/* apps selection content */

@media screen and (orientation: portrait) {
    #apps-content {
        --item-size: 90px;
    }
}

@media screen and (orientation: landscape) {
    #apps-content {
        --item-size: 120px;
    }
}

#apps-content {
    padding: var(--item-size) calc(0.5*var(--item-size));

    width: 100%;
    min-height: calc( 100vh - var(--header-height) - var(--footer-height) );
}

#apps-content > #apps-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10vw;

    width: 100%;
}

.app-container {
    --border-size: 4px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: calc(2*var(--border-size));
    
    max-width: min-content;

    transition: 0.2s transform, 0.2s filter;
}

.app-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    max-width: calc(var(--item-size) - 2*var(--border-size));
    height: calc(var(--item-size) - 2*var(--border-size));
    aspect-ratio: 1;
    
    background-color: #f8f8f83a;
    border-radius: 25%;
    border: var(--border-size) solid #111;
    box-shadow: 0 1.5px 14px #000c;
    
    cursor: pointer;
    transition: 0.2s background-color;
}

.app-container:hover {
    transform: scale(1.045);
    filter: brightness(105%);
}

.app-container:hover > .app-badge {
    background-color: #f8f8f853;
}

.app-container:active {
    transform: scale(0.97);
    filter: brightness(95%);
}

.app-container:active > .app-badge {
    background-color: #bbb4;
}

.app-icon {
    width: 80%;
    object-fit: contain;
    pointer-events: none;
}

.app-title {
    color: #111;
    font-size: var(--text-unit);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;

    cursor: pointer;
    transition: 0.2s color;
}

/* override default toolbox styling for anim-controls */
#anim-controls {
    /* top: calc(var(--footer-height)/2 - 12.5px); */
    top: -35px;
}