body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#main-content {
    display: flex;
    flex-direction: row;

    padding: calc(2 * var(--text-unit));

    width: 100%;
    height: calc( 100vh - var(--header-height) - var(--footer-height) );

    background-color: #f8f8f844;
}

/********* START NOTES MENU *********/

@media screen and (orientation: portrait) {
    #main-content {
        padding: 2vh 6vw;
    }

    #notes-menu {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 1vh;
    }

    .note-icon {
        padding: calc(0.8 * var(--text-unit)) var(--text-unit);
        flex-direction: row;
        width: 100%;
        height: auto;
        max-height: 20vh;
        border-radius: 2.33vh;
    }

    .note-data,
    .note-preview {
        max-width: 50%;
        max-height: 100%;
    }

    #editor-body {
        --top-height: calc(3 * var(--text-unit));
    }
}

@media screen and (orientation: landscape) {
    #main-content {
        padding: 2vh 2vw;
    }

    #notes-menu {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;
    }

    .note-icon {
        padding: 16px;
        flex-direction: column;
        width: 300px;
        height: 300px;
        border-radius: 30px;
    }

    .note-data,
    .note-preview {
        max-width: 100%;
        max-height: 50%;
    }

    #editor-body {
        --top-height: calc(4 * var(--text-unit));
    }
}

#notes-menu {
    --border-size: 4px;
    --border-blur: 12px;

    display: none;
    width: 100%;
    height: 100%;

    padding: var(--border-blur) 0;

    overflow-x: hidden;
    overflow-y: auto;
}

.note-icon {
    display: flex;
    justify-content: space-between;

    background-color: #f8f8f83a;
    border: var(--border-size) solid #111;
    box-shadow: 0 0 var(--border-blur) #0008;
    
    cursor: pointer;
    transition: 0.2s background-color;
}

.note-icon:hover {  background-color: #f8f8f8aa;  }
.note-icon:active {  background-color: #aaa5;  }
.note-icon:active .note-preview {  filter: brightness(87%);  }

.note-title {
    margin-bottom: 0.15em;

    color: #111;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: calc(1.5 * var(--text-unit));
    line-height: 1.2em;
    word-wrap: break-word;

    /* line wrap stuff */
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.note-datetime {
    color: #222;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: var(--text-unit);
}

.note-data,
.note-preview {
    display: flex;
    flex: 0.5;
    flex-direction: column;
}

.note-preview {
    padding: 10px 12px;
    background-color: #f8f8f8;

    box-shadow:  1px  1px 8px #0006 inset,
                -1px -1px 8px #0006 inset;
    border-radius: 12px;

    overflow: hidden;
    transition: 0.2s filter;
}

.note-preview > p {
    color: #bbb;
    font-family: "Ubuntu", sans-serif;
    font-size: calc(0.8 * var(--text-unit));

    overflow: hidden;
}

#note-creator {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5556;
}

#note-creator:hover {  background-color: #ddda;  }
#note-creator:active {  background-color: #5559;  }

#note-creator > p {
    color: #111;
    font-family: "Poppins", sans-serif;
    font-size: calc(6 * var(--text-unit));
    font-weight: 400;
}

/********* END NOTES MENU *********/
/********* START EDITOR *********/

#editor-body {
    display: none;
    flex-direction: column;
    --border-radius: 24px;

    width: 100%;
    height: 100%;

    overflow: auto;

    background-color: #f8f8f8;
    border: 4px solid #111;
    border-radius: var(--border-radius);
}

#editor-body textarea {
    border: none;
    resize: none;
    outline: none;
}

#editor-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: 0 calc(0.75 * var(--text-unit));

    width: 100%;
    height: var(--top-height);

    overflow: hidden;

    background-color: #e4e4e4;
}

#editor-title {
    margin-right: auto;

    min-width: 50%;
    max-width: 75%;
    height: 100%;

    color: #111;
    line-height: var(--top-height);
    font-family: "Ubuntu", sans-serif;
    font-size: calc(0.5 * var(--top-height));

    background-color: #0000;

    overflow-x: hidden;
    overflow-y: auto;
}

.editor-icon {
    margin: calc(0.15 * var(--top-height));
    height: 70%;
    object-fit: contain;

    cursor: pointer;

    transition: 0.2s filter;
}

.editor-icon:hover {
    filter: brightness(106%);
}

.editor-icon:active {
    filter: brightness(98%);
}

#editor-text {
    padding: calc(0.75 * var(--text-unit));
    
    width: 100%;
    min-height: calc(100% - var(--top-height));

    color: #191919;
    font-family: "Ubuntu", sans-serif;
    font-size: var(--text-unit);

    overflow-x: hidden;
    overflow-y: auto;

    background-color: #0000;
}

/********* END EDITOR *********/