# allow only internal network access
Order Deny,Allow
Deny from all
Allow from 192.168.1.0/24
Allow from 10.0.0.0/24
Allow from 127.0.0.1
Allow from ::1

Satisfy all

# Custom ErrorDocument to prevent default 403 from hinting that an asset exists
ErrorDocument 403 /errors/404.html

Options +FollowSymLinks -MultiViews -Indexes

# remove index.php from end of URLs (thanks https://stackoverflow.com/a/9619319)
RewriteEngine On

# Remove trailing slash if not a directory
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]